.sidebar {
    padding-top: 42px;
    padding-bottom: 54px;

    position: fixed;
    width: 80px;
    top: 0;
    left: 0;
    bottom: 0;
    border-right: 1px solid #C4C4C4;
    background: linear-gradient(112.21deg, #1F1F1F 2.72%, #121212 101.59%);
    box-shadow: 10px 0px 20px rgba(0, 0, 0, 0.25);
    z-index: 100;

    &__top {
        .main__logo {
            display: none;
        }

        &-actions {
            text-align: center;
        }
    }

    &__footer {
        display: none;
    }

    &_open {
        max-width: 400px;
        width: 100%;

        .sidebar__container {
            padding: 0 20px 0;
        }

        .sidebar__button-wrapper {
            .sidebar__button {
                display: none;
            }

            .sidebar__button_close {
                display: block;
            }
        }

        .scroll-down__wrapper {
            display: none;
        }

        .sidebar__top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            .main__logo {
                display: block;
            }
        }

        .sidebar__nav {
            display: block;
            padding-bottom: 40px;

            font-weight: 300;
            font-size: 16px;
            line-height: 1;
            letter-spacing: 0.1em;
            text-transform: uppercase;

            border-bottom: 1px solid rgba(196, 196, 196, 0.15);

            ul {
                display: flex;
                flex-direction: column;
                row-gap: 20px;
            }
        }

        .sidebar__footer {
            display: block;
            font-weight: 300;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 0.1em;
            color: #ffffff;
            opacity: 0.5;

            ul {
                display: flex;
                flex-direction: column;
                row-gap: 13px;
            }
        }
    }

    &__button_close {
        display: none;
    }

    &__nav {
        display: none;
    }
}

.sidebar__row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar__button-wrapper {
    height: 29px;
    cursor: pointer;
}

.sidebar__button {
    position: relative;
    width: 43px;
    height: 2px;
    background: #C4C4C4;

    &::before {
        position: absolute;
        content: "";
        display: block;
        width: 43px;
        height: 2px;
        top: 13px;
        background: #C4C4C4;
    }

    &::after {
        position: absolute;
        content: "";
        display: block;
        width: 43px;
        height: 2px;
        bottom: 13px;
        background: #C4C4C4;
    }
}

.scroll-down__wrapper {
    display: flex;
    align-items: center;
    row-gap: 92px;
    flex-direction: column;

    cursor: pointer;
}

.scroll-down__text {
    width: 158px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 0.05em;
    color: #ffffff;
    opacity: 0.5;
    transform: rotate(-90deg);
}